[% INCLUDE 'doc-head-open.inc' %]
<meta charset="utf-8">
<title>Koha: Theme Plugin</title>
<link rel="stylesheet" type="text/css" href="/api/v1/contrib/[% api_namespace | uri %]/static/css/template/homeTheme.css">
[% INCLUDE 'doc-head-close.inc' %]
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs">
    <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo;
    <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo;
    Celebrations
</div>

<div id="doc3">
    <div id="content" class="celebrations-plugin-wrapper">
            <h1>[% translation.T.title | html %]</h1>
            <p style="text-align: center">
               [% translation.T.description1 | html %]
                <br>
               [% translation.T.description2 | html %]
            </p>

            <hr class="separator">

            <div id="themes-list-section" class="themes-list-wrapper">
                <h2 class="section-title">[% T.prog.titre | html %]</h2>
                <div id="no-themes-message" class="no-themes" style="display:none;">
                    [% translation.T.prog.message1 | html %]<br>
                    [% translation.T.prog.message2 | html %]
                </div>
                <div id="themes-grid" class="themes-grid">
                    <!-- Les thèmes seront injectés ici par JavaScript -->
                </div>
            </div>

            <br><br>
            <hr class="separator">

            <div id="plugin-content">

                <div class="plugin-card">
                    <h2 id="ConfTitre">[% translation.T.select_theme | html %]</h2>

                    <form id="theme-form" method="post" action="javascript:void(0)">
                        [% INCLUDE 'csrf-token.inc' %]
                        <input type="hidden" name="koha_session" value="[% koha.sessionID | html %]">
                        <input type="hidden" name="plugin_name" value="OpacTheme">
                        <input type="hidden" name="class" value="Koha::Plugin::Celebrations">
                        <input type="hidden" name="method" value="apply_theme">
                        <input type="hidden" name="action" value="apply_theme">

                        <label id="label-select" for="theme-select">
                            <strong>[% translation.T.form.theme_label | html %]</strong>
                        </label>

                        <select id="theme-select" name="theme">
                            [% FOREACH theme_id IN theme_config.keys.sort %]
                                [% UNLESS all_themes.${theme_id}.defined %]
                                    <option value="[% theme_id | html %]" [% IF selected_theme == theme_id %]selected[% END %]>
                                        [% translation.T.form.${theme_id} | html %]
                                    </option>
                                [% END %]
                            [% END %]
                        </select>

                        <br><br><br>

                        [% IF theme_config %]
                            [% FOREACH theme_id IN theme_config.keys.sort %]
                                [% theme_data = theme_config.${theme_id};
                                theme_translation = translation.T.${theme_id};
                                theme_div_id = theme_id _ '-options';
                                NEXT UNLESS theme_translation;
                                %]
                                <div id="[% theme_div_id | html %]" class="form-group" style="display: none;">
                                    [% FOREACH element_key IN theme_data.elements.keys %]
                                        [% element = theme_data.elements.${element_key};
                                        setting_id = element.setting;
                                        toggle_id = 'toggle_' _ element_key;
                                        %]
                                        <div class="toggle-container" id="[% toggle_id | html %]" >
                                            <span class="toggle-label">[% theme_translation.${setting_id} | html %]</span>
                                            <label class="switch">
                                                [% theme_name = theme_id; %]
                                                [% element_state = all_themes.${theme_name}.elements.${element_key}; %]
                                                <input type="checkbox" id="[% setting_id | html %]" name="[% setting_id | html %]"
                                                    [% IF element_state.enabled == 1 %]checked[% END %]>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        [% SET hasOptions = 0 %]
                                        [% FOREACH option_key IN element.extra_options.keys %]
                                            [% option_data = element.extra_options.${option_key} %]
                                            [% IF option_data.type != "ignore" %]
                                                [% SET hasOptions = 1 %]
                                            [% END %]
                                        [% END %]

                                        [% IF hasOptions %]
                                            [% element_config_id = element_key _ '-config'; %]
                                            <div id="[% element_config_id | html %]"
                                                 class="extra-options-container"
                                                 style="display: none;">
                                                [% FOREACH option_key IN element.extra_options.keys %]
                                                    [% option_data = element.extra_options.${option_key};
                                                       NEXT IF option_data.type == "ignore";
                                                       option_value =  all_themes.${theme_id}.elements.${element_key}.options.${option_key} || option_data.default;
                                                    %]
                                                    <div class="option-row">
                                                        [% IF option_data.type == "range" %]
                                                            <label for="[% option_key | html %]">[% theme_translation.${option_key} | html %]</label>
                                                            <div class="range-wrapper">
                                                                <input type="range" class="styled-range"
                                                                    id="[% option_key | html %]"
                                                                    name="[% option_key | html %]"
                                                                    min="[% option_data.min | html %]"
                                                                    max="[% option_data.max | html %]"
                                                                    value="[% option_value | html %]">
                                                                <span id="val_[% option_key | html %]" class="range-value">[% option_value | html %]</span>
                                                            </div>
                                                        [% ELSIF option_data.type == "select" %]
                                                            <label for="[% option_key | html %]">[% theme_translation.${option_key} | html %]</label>
                                                            <select id="[% option_key | html %]" name="[% option_key | html %]">
                                                                [% option_group_key = option_data.option_type;
                                                                   option_group = translation.T.${option_group_key};
                                                                %]
                                                                [% FOREACH option_data IN option_group %]
                                                                    <option value="[% option_data.key | html %]"
                                                                            [% IF option_value == option_data.key %]selected[% END %]>
                                                                        [% option_data.label | html %]
                                                                    </option>
                                                                [% END %]
                                                            </select>
                                                        [% END %]
                                                    </div>
                                                    <br>
                                                [% END %]
                                            </div>
                                        [% END %]
                                    [% END %]
                                </div>
                            [% END %]
                        [% END %]

                        <div class="date-row">
                            <div class="date-group">
                                <label for="start_date">[% translation.T.form.debut | html %]</label>
                                <input type="date" lang="fr" id="start_date" name="start_date">
                            </div>
                            <div class="date-group">
                                <label for="end_date">[% translation.T.form.fin | html %]</label>
                                <input type="date" id="end_date" name="end_date">
                            </div>
                        </div>

                        <br><br>

                        <div class="buttons-row">
                            <button type="submit" id="create-button" class="modern-button">[% translation.T.apply_button | html %]</button>
                            <button type="button" id="update-button" class="modern-button" style="display:none;">[% translation.T.apply_button | html %]</button>
                            <button type="button" id="preview-button" class="modern-button">[% translation.T.preview_button | html %]</button>
                        </div>

                        <div class="buttons-row" id="greyBtn">
                            <button type="button" id="reset-button" class="modern-button reset" style="display:none;">[% translation.T.reset_button | html %]</button>
                        </div>

                        <p id="success-message" style="display: none; color: green; font-weight: bold; margin-top: 1em;">
                          [% translation.T.apply_success | html %]
                        </p>
                        <p id="reset-message" style="display: none; color: green; font-weight: bold; margin-top: 1em;">
                          [% translation.T.reset_success | html %]
                        </p>
                        <p id="erreur-message" style="display: none; color: red; font-weight: bold; margin-top: 1em;">
                            [% translation.T.apply_error | html %]
                        </p>
                    </form>

                    <!-- ✅ Déplacé hors du form + ID ajouté -->
                    <div id="celebration-complete" class="celebration-complete" style="display:none;">
                        <div class="celebration-badge">🎉</div>
                        <h2>[% translation.T.complete.title | html %]</h2>
                        <p>[% translation.T.complete.desc1 | html %]<br>[% translation.T.complete.desc2 | html %]</p>
                    </div>
                </div>

                <div id="previewDiv">
                    <h2 id="preVis">[% translation.T.previs | html %]</h2>
                    <div class="radio-inputs">
                        <label class="radio">
                            <input type="radio" name="radio" value="ordi" checked="" />
                            <span class="name">[% translation.T.ordi | html %]</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="radio" value="tel" />
                            <span class="name">[% translation.T.tel | html %]</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="radio" value="tablette" />
                            <span class="name">[% translation.T.tablet | html %]</span>
                        </label>
                    </div>

                    <div id="prevDevice">
                        <div class="container-monitor monitor-preview" style="display: block;">
                            <div class="monitor">
                                <div class="screenOrdi">
                                    <div class="content"></div>
                                </div>
                            </div>
                            <div class="monitor-stand"></div>
                        </div>

                        <div class="ipad device" style="display: none;">
                            <div class="case">
                                <div class="earsection">
                                    <div class="camera"></div>
                                </div>
                                <div class="screenMobile"></div>
                                <div class="button">
                                    <div class="buttonsquare"></div>
                                </div>
                            </div>
                        </div>

                        <div class="iphone device" style="display: none;">
                            <div class="case">
                                <div class="earsection">
                                    <div class="camera"></div>
                                    <div class="speaker"></div>
                                </div>
                                <div class="screenMobile"></div>
                                <div class="button">
                                    <div class="buttonsquare"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /#plugin-content -->

    </div> <!-- /#content -->
</div> <!-- /#doc3 -->

<hr class="separator">
<div id="inlibro-header">
    <p>[% translation.T.extension | html %]</p>
    <img src='/api/v1/contrib/[% api_namespace | uri %]/static/images/inLibro_[% translation.T.lang | html %].svg' alt="InLibro" id="imgInlibro" />
    <p class="website">[% translation.T.site_web1 | html %] <a href="https://inlibro.com[% langPrefix %]/koha-plugins/" target="_blank">[% translation.T.site_web2 | html %]</a> [% translation.T.site_web3 | html %]</p>
    <p>[% translation.T.documentation1 | html %] <a href="https://inlibro.com[% langPrefix %]/extension-koha-celebrations/" target="_blank">[% translation.T.documentation2 | html %]</a>.</p>
</div>

<script>
  // ---------------------------------------------------------
  //  Injecte les traductions dans la page pour pouvoir ajouter du text dynamiquement via Javascript
  // ---------------------------------------------------------
  window.translation = [% translations_json %];

  // ---------------------------------------------------------
  //  Namespace utilisé par toutes les URLs d'API du plugin
  // ---------------------------------------------------------
  window.api_namespace = "[% api_namespace | html %]";

  // ---------------------------------------------------------
  //  Chaîne JSON contenant la configuration complète du fichier theme-config.json
  // ---------------------------------------------------------
  const THEMES_CONFIG_STR = '[% theme_config_json | html %]';

  // ---------------------------------------------------------
  //  permet d'indiquer quel thème est actif quand plusieurs sotn configuré
  // ---------------------------------------------------------
  const CURRENT_SETTINGS_STR = '[% theme_config_json | html %]';

  // ---------------------------------------------------------
  //  Liste de tous les thèmes configuré avec leurs infos de configuration
  // ---------------------------------------------------------
  const ALL_THEMES = '[% themes_list_json | html %]';
</script>

<script src="/api/v1/contrib/[% api_namespace | uri %]/static/js/dist/celebrations-bundle.js" defer></script>
[% INCLUDE 'intranet-bottom.inc' %]
